@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.chat-section {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #121213;
  display: flex;
  flex-direction: column;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  /* border: 1px solid red; */
  margin: auto;
  /* background-color: red; */
  position: relative;
}

.visualcue {
  position: absolute;
  right: 0;
  top: 0;
  animation: shake 0.5s ease-in-out infinite;
}
@keyframes shake {
  0% {
    transform: translateX(-3px);
  } /* Move left */
  50% {
    transform: translateX(3px);
  } /* Move right */
  100% {
    transform: translateX(-3px);
  } /* Move left again */
}
.avatar img {
  /* border: 1px solid red; */
  max-width: 80%;
  height: auto;
}
.result-section {
  padding: 30px;
  height: 27rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.result-section::-webkit-scrollbar {
  display: none;
}
.result-container {
  height: 100%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.user-question {
  display: flex;
  gap: 20px;
  width: 100%;
}
.ai-response {
  display: flex;
  gap: 20px;
  width: 100%;
}
.display-div {
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 8px;
  font-size: 18px;
  color: #eee8e8;
  font-family: "Inter", sans-serif;
}
/* .identifier {
  color: white;
  border-radius: 50%;
  background-color: #524b2b;
  padding: 10px;
} */

/****** Prompt container question *****/
.fixed-input-container {
  padding: 30px 30px;
  display: flex;
  align-items: center;
}
.fixed-input-container form {
  width: 75%;
  margin: auto;
  /* background-color: blue; */
}
.prompt-container {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 8px;
  width: 100%;
  max-height: 200px;
}
.prompt-container > textarea {
  width: 100%;
  height: 30px;
  max-height: 200px;
  font-size: 20px;
  color: #e6e6e6;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  font-family: "San Francisco";
  overflow-y: hidden;
}
.prompt-container button {
  background-color: transparent;
  border: none;
}
.btn-container {
  display: flex;
  align-items: center;
  gap: 25px;
}
.loading,
.conversation-null {
  color: #817f7f;
  text-align: center;
}
@media (width <= 1780px) {
  .result-section {
    height: 23rem;
  }
}

@media (width < 768px) {
  .chat-section {
    grid-column: 1/3;
  }
  .fixed-input-container form {
    width: 80%;
    margin: auto;
  }
  .result-container {
    width: 80%;
    margin: auto;
  }
  .display-div {
    font-size: 15px;
  }
  .avatar {
    margin-top: 20px;
  }
  .avatar img {
    max-width: 60vw;
  }
}

@media (width < 546px) {
  .fixed-input-container form {
    width: 100%;
  }
  .result-container {
    width: 95%;
  }
  .avatar {
    margin-top: 0px;
  }
  .avatar img {
    padding-top: 2rem;
    min-width: 10vw;
  }
}
@media (width < 470px) {
  .visualcue {
    right: -40px;
  }
  .fixed-input-container form {
    width: 100%;
    margin: auto;
  }
}

.light {
  background-color: #bda73d;
  padding: 10px;
  border-radius: 8px;
}

.blinking-cursor {
  margin-left: 5px;
  background-color: #fff;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.1%,
  100% {
    opacity: 0;
  }
}
