@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
.feedbackmessage {
  position: fixed;
  top: 15%;
  left: 30%;
  background-color: #232323;
  border-radius: 8px;
  height: 60%;
  width: 50%;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "San Francisco";
}

.close-header {
  text-align: right;
}
.close-header button {
  background-color: transparent;
  border: none;
}
.trophy {
  font-size: 5rem;
  color: gold;
}
.message {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (width <= 1238px) {
  .feedbackmessage {
    position: fixed;
    top: 15%;
    left: 40%;
    height: 60%;
    width: 50%;
  }
}
@media (width <= 767px) {
  .feedbackmessage {
    position: fixed;
    top: 15%;
    left: 17%;
    height: 60%;
    width: 70%;
  }
}
@media (width <= 375px) {
  .feedbackmessage {
    position: fixed;
    top: 15%;
    left: 10%;
    height: 60%;
    width: 80%;
  }
}
